body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #f0f0f0;
}
ul{
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  width: 100vw;
  height: 25px;
  border-bottom: 2px solid green;
}
.home{
  width: 100vw;
  height: 80vh;
}
.values{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}